.good {
    color: whitesmoke;
    background-color: cyan;
    
}
.bad{
    color: black;
    background-color: rgb(247, 10, 10);
}
h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    margin-top: 1em;
    margin-bottom: 1em ;
    line: height 2px;
    text-align: center;
    color: maroon;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
.center{
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
}
/*.middle{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}*/
a{
    font-size: 20px;
    color: navy;
}
a:visited{
    font-size: 20px;
    color: orangered;
}
a:hover{
    font-size: 20px;
    color: lime;
}
body{
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}